<p align="center">
  <font color="#996633" face="Georgia">
    <a href="index.html">Home</a>
    &nbsp;&nbsp;<font color="ff6699">.</font>&nbsp;&nbsp;
    <a href="speaking.htm">Speaker</a>
    &nbsp;&nbsp;<font color="ff6699">.</font>&nbsp;&nbsp;
    <a href="book.htm">Author</a>
    &nbsp;&nbsp;<font color="ff6699">.</font>&nbsp;&nbsp;
    <a href="podcast.htm">Radio & Podcast</a>
    &nbsp;&nbsp;<font color="ff6699">.</font>&nbsp;&nbsp;
    <a href="topics.htm">Topics</a>
    &nbsp;&nbsp;<font color="ff6699">.</font>&nbsp;&nbsp;
    <a href="faith.htm">Faith</a>
    &nbsp;&nbsp;<font color="ff6699">.</font>&nbsp;&nbsp;
    <a href="contact.htm">Contact</a>
  </font>
</p>
