<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>{{ page.title | default: "Nita Evans | Special Speaker" }}</title>
</head>
<body
    aLink="#ff6699"
    background="BELIEFS_files/WB00756L.gif"
    bgColor=#ccffcc
    link=#996633
    vLink=#339933>

  <table border=0 cellPadding=0 cellSpacing=0 width="100%">
    <tbody>
      <tr>
        <td vAlign=top>
          <table border=4 borderColor=#009933 borderColorDark=#ff6699 
                 borderColorLight=#ffcccc cellPadding=4 height=94 width="67%">
            <tbody>
              <tr>
                <td height=82 width="15%"><font face="Lucida Calligraphy" 
                                                size=7><img align=center border=0 height=97 
                                                            src="BELIEFS_files/NA01717_.jpeg" width=129></font></td>
                <td bgColor=#ffffcc height=82 width="85%">
                  <h1 align=center><font color=#009933 face="Lucida Calligraphy" 
                                                       size=6>Devotionals</font></h1></td></tr></tbody></table>
          <hr color=#339933 SIZE=4>
          <p align="center"><font color="#996633" face="Georgia"><a href="index.html">home</a>&nbsp;&nbsp;&nbsp;<font color="ff6699">.</font>&nbsp;&nbsp;&nbsp;<a href="speaking.htm">speaker</a>&nbsp;&nbsp;&nbsp;<font color="ff6699">.</font>&nbsp;&nbsp;&nbsp;<a href="book.htm">author</a>&nbsp;&nbsp;&nbsp;<font color="ff6699">.</font>&nbsp;&nbsp;&nbsp;<a href="topics.htm">topics</a>&nbsp;&nbsp;&nbsp;<font color="ff6699">.</font>&nbsp;&nbsp;&nbsp;<a href="faith.htm">faith</a>&nbsp;&nbsp;&nbsp;<font color="ff6699">.</font>&nbsp;&nbsp;&nbsp;<a href="devotionals.htm">devotionals</a>&nbsp;&nbsp;&nbsp;<font color="ff6699">.</font>&nbsp;&nbsp;&nbsp;<a href="note_from_nita.htm">note from nita</a>&nbsp;&nbsp;&nbsp;</font><font face="Georgia"><font face="Georgia"><font color="ff6699">.</font></font></font><font color="#996633" face="Georgia">&nbsp;&nbsp;&nbsp;<a href="contact.htm">contact</a></font></p>
          <hr color=#339933 SIZE=4>

          <div align=center>
            {{ content }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52052105-1', 'specialspeaker.com');
    ga('send', 'pageview');

  </script>

</body>
</html>
