<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>{{ page.title | default: "Nita Evans | Special Speaker" }}</title>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6PNGJKHC43"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6PNGJKHC43');
  </script>  
</head>
<body
    aLink="#ff6699"
    background="BELIEFS_files/WB00756L.gif"
    bgColor=#ccffcc
    link=#996633
    vLink=#339933>

  <table border=0 cellPadding=0 cellSpacing=0 width="100%">
    <tbody>
      <tr>
        <td vAlign=top>
          <table border=4 borderColor=#009933 borderColorDark=#ff6699 
                 borderColorLight=#ffcccc cellPadding=4 height=94 width="67%">
            <tbody>
              <tr>
                <td height=82 width="15%"><font face="Lucida Calligraphy" 
                                                size=7><img align=center border=0 height=97 
                                                            src="BELIEFS_files/NA01717_.jpeg" width=129></font></td>
                <td bgColor=#ffffcc height=82 width="85%">
                  <h1 align=center><font color=#009933 face="Lucida Calligraphy" 
                                                       size=6>Devotionals</font></h1></td></tr></tbody></table>
          <hr color=#339933 SIZE=4>
          {% include nav.htm %}
          <hr color=#339933 SIZE=4>

          <div align=center>
            {{ content }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </body>
</html>
